<h1>EAT DA BURGER!</h1>
<div class="row">
    {{!-- Area to display all newly entered burgers yet to be devoured --}}
    <div class="panel col-lg-5 not-devoured">
        <h6>Burgers That Are Not Devoured</h6>
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
                {{this.burger_name}}
                <form action="api/update/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="1">
                    <button type="submit">devour</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    {{!-- Area to display all devoured burgers --}}
    <div class="panel col-lg-5 devoured">
        <h6>Burgers That Are Devoured</h6>
        <ul>
            {{#each burgers}}
            {{#if this.devoured}}
            <li>
                {{this.burger_name}}
                <form action="api/update/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="0">
                    <button type="submit">un-devour</button>
                </form>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

{{!-- form area to add a burger to the undevoured list --}}
<h2>Add a Burger</h2>
<form action="api/create/" method="POST">

    <div class="form-group">
        <input type="text" name="name" placeholder="enter burger name" class="burgerField">
    </div>
    <button type="submit" class="addBurg">Add a Burger</button>
</form>